In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('MCM_NFLIS_Data.xlsx',sheet_name='Data')
demo_2010 = pd.read_csv('ACS_10_5YR_DP02/ACS_10_5YR_DP02_with_ann.csv')
demo_2011 = pd.read_csv('ACS_11_5YR_DP02/ACS_11_5YR_DP02_with_ann.csv')
demo_2012 = pd.read_csv('ACS_12_5YR_DP02/ACS_12_5YR_DP02_with_ann.csv')
demo_2013 = pd.read_csv('ACS_13_5YR_DP02/ACS_13_5YR_DP02_with_ann.csv')
demo_2014 = pd.read_csv('ACS_14_5YR_DP02/ACS_14_5YR_DP02_with_ann.csv')
demo_2015 = pd.read_csv('ACS_15_5YR_DP02/ACS_15_5YR_DP02_with_ann.csv')
demo_2016 = pd.read_csv('ACS_16_5YR_DP02/ACS_16_5YR_DP02_with_ann.csv')

In [3]:
#creating empty dataset
for i in range(4,10):
    data["HC01_VC0"+str(i)] = np.nan
for i in range(10,110):
    data["HC01_VC"+str(i)] = np.nan

In [4]:
#merging data from 2010 to 2016
for index, row in data.iterrows():
    if row['YYYY'] == 2010:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2010.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2010.loc[demo_2010['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2010.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2010.loc[demo_2010['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue       
    if row['YYYY'] == 2011:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2011.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2011.loc[demo_2011['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2011.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2011.loc[demo_2011['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2012:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2012.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2012.loc[demo_2012['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2012.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2012.loc[demo_2012['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2013:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2013.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2013.loc[demo_2013['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2013.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2013.loc[demo_2013['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2014:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2014.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2014.loc[demo_2014['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2014.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2014.loc[demo_2014['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2015:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2015.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2015.loc[demo_2015['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2015.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2015.loc[demo_2015['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2016:
        for i in range(4,10):
            if ("HC01_VC0"+str(i)) in demo_2016.columns:
                data.at[index, "HC01_VC0"+str(i)] = demo_2016.loc[demo_2016['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC01_VC"+str(i)) in demo_2016.columns:
                    data.at[index, "HC01_VC"+str(i)] = demo_2016.loc[demo_2016['GEO.id2'] == str(row['FIPS_Combined'])]["HC01_VC"+str(i)].values[0]
            except:
                continue

In [5]:
data.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC01_VC165,HC01_VC179,HC01_VC180,HC01_VC181,HC01_VC210,HC01_VC211,HC01_VC212,HC01_VC216,HC01_VC217,HC01_VC218
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data['popultion'] = 0
population = pd.read_csv('maps-county2011.csv')

for idx in data.index:
#     print(idx)
#     print(data.at[idx, 'FIPS_Combined'])
#     print(population.loc[population['00000'] == data.at[idx, 'FIPS_Combined']]['308,745,538'].values[0])
    data.at[idx, 'popultion'] = int(''.join(population.loc[population['00000'] == data.at[idx, 'FIPS_Combined']]['308,745,538'].values[0].split(',')))

In [7]:
data['population_ratio'] = data['DrugReports']/data['popultion']

In [8]:
data = data.drop(data.loc[data['YYYY'] == 2017].index)
data_nona = data.dropna(axis=1) = data.dropna(axis=1)

In [9]:
data_nona.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC01_VC202,HC01_VC203,HC01_VC204,HC01_VC205,HC01_VC206,HC01_VC207,HC01_VC208,HC01_VC209,popultion,population_ratio
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,335,24,0,0,0,0,12,0,19956,0.000752
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,335,24,0,0,0,0,12,0,19956,0.000050
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,1509,38,35,90,39,9,182,28,42173,0.000071
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,273,0,0,34,17,0,99,0,11591,0.000086
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,273,0,0,34,17,0,99,0,11591,0.000604

In [10]:
data_nona.drop(columns='population_ratio')

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC01_VC201,HC01_VC202,HC01_VC203,HC01_VC204,HC01_VC205,HC01_VC206,HC01_VC207,HC01_VC208,HC01_VC209,popultion
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,350,335,24,0,0,0,0,12,0,19956
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,350,335,24,0,0,0,0,12,0,19956
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,988,1509,38,35,90,39,9,182,28,42173
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,199,273,0,0,34,17,0,99,0,11591
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,199,273,0,0,34,17,0,99,0,11591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23869,2016,WV,WOOD,54,107,54107,Morphine,4,483,5405,...,1245,53,163,1848,2473,128,226,336,234,86956
23870,2016,WV,WOOD,54,107,54107,Tramadol,4,483,5405,...,1245,53,163,1848,2473,128,226,336,234,86956
23871,2016,WV,TYLER,54,95,54095,Oxycodone,1,22,5405,...,145,0,4,319,196,7,0,36,33,9211
23872,2016,WV,WAYNE,54,99,54099,Oxycodone,4,49,5405,...,225,32,19,821,1019,7,0,52,12,42481
23873,2016,WV,WOOD,54,107,54107,Oxycodone,7,483,5405,...,1245,53,163,1848,2473,128,226,336,234,86956

In [11]:
data_nona.to_csv('data_combined_number.csv', index=False)

In [3]:
#creating empty dataset
for i in range(4,10):
    data["HC03_VC0"+str(i)] = np.nan
for i in range(10,220):
    data["HC03_VC"+str(i)] = np.nan

In [4]:
for index, row in data.iterrows():
    if row['YYYY'] == 2010:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2010.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2010.loc[demo_2010['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2010.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2010.loc[demo_2010['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue       
    if row['YYYY'] == 2011:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2011.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2011.loc[demo_2011['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2011.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2011.loc[demo_2011['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2012:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2012.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2012.loc[demo_2012['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2012.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2012.loc[demo_2012['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2013:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2013.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2013.loc[demo_2013['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2013.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2013.loc[demo_2013['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2014:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2014.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2014.loc[demo_2014['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2014.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2014.loc[demo_2014['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2015:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2015.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2015.loc[demo_2015['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2015.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2015.loc[demo_2015['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue        
    if row['YYYY'] == 2016:
        for i in range(4,10):
            if ("HC03_VC0"+str(i)) in demo_2016.columns:
                data.at[index, "HC03_VC0"+str(i)] = demo_2016.loc[demo_2016['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC0"+str(i)].values[0]
        for i in range(10,220):
            try:
                if ("HC03_VC"+str(i)) in demo_2016.columns:
                    data.at[index, "HC03_VC"+str(i)] = demo_2016.loc[demo_2016['GEO.id2'] == str(row['FIPS_Combined'])]["HC03_VC"+str(i)].values[0]
            except:
                continue

In [5]:
data.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC210,HC03_VC211,HC03_VC212,HC03_VC213,HC03_VC214,HC03_VC215,HC03_VC216,HC03_VC217,HC03_VC218,HC03_VC219
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data['popultion'] = 0
population = pd.read_csv('maps-county2011.csv')

for idx in data.index:
#     print(idx)
#     print(data.at[idx, 'FIPS_Combined'])
#     print(population.loc[population['00000'] == data.at[idx, 'FIPS_Combined']]['308,745,538'].values[0])
    data.at[idx, 'popultion'] = int(''.join(population.loc[population['00000'] == data.at[idx, 'FIPS_Combined']]['308,745,538'].values[0].split(',')))

In [8]:
data = data.drop(data.loc[data['YYYY'] == 2017].index)
data_nona = data.dropna(axis=1)
data_nona.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC201,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,1.8,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,1.8,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,2.4,3.6,0.1,0.1,0.2,0.1,0.0,0.4,0.1,42173
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,1.7,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,1.7,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591

In [9]:
data_nona.to_csv('data_combined_ratio.csv', index=False)