In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_combined_ratio = pd.read_csv('data_combined_ratio.csv')
data_combined_ratio.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC201,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,1.8,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,1.8,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,2.4,3.6,0.1,0.1,0.2,0.1,0.0,0.4,0.1,42173
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,1.7,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,1.7,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591

In [2]:
data_combined_ratio['population_ratio'] = (data_combined_ratio['TotalDrugReportsCounty']/data_combined_ratio['popultion'])*100
data_combined_ratio.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion,population_ratio
0,2010,KY,ALLEN,21,3,21003,Oxycodone,15,168,29588,...,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956,0.841852
1,2010,KY,ALLEN,21,3,21003,Oxymorphone,1,168,29588,...,1.7,0.1,0.0,0.0,0.0,0.0,0.1,0.0,19956,0.841852
2,2010,KY,BARREN,21,9,21009,Morphine,3,383,29588,...,3.6,0.1,0.1,0.2,0.1,0.0,0.4,0.1,42173,0.908164
3,2010,KY,BATH,21,11,21011,Buprenorphine,1,81,29588,...,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591,0.698818
4,2010,KY,BATH,21,11,21011,Hydrocodone,7,81,29588,...,2.4,0.0,0.0,0.3,0.1,0.0,0.9,0.0,11591,0.698818

In [7]:
Heroin_data = data_combined_ratio.loc[(data_combined_ratio['SubstanceName'] == 'Heroin')]
Heroin_data_test = Heroin_data.loc[(Heroin_data['YYYY'] == 2016)]
Heroin_data_test

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion,population_ratio
3948,2016,KY,ALLEN,21,3,21003,Heroin,1,107,26530,...,0.0,0.1,1.2,1.5,0.0,0.0,0.7,0.6,19956,0.536180
3951,2016,KY,ANDERSON,21,5,21005,Heroin,16,72,26530,...,0.0,0.0,2.7,3.9,0.0,0.0,0.2,0.1,21421,0.336119
3954,2016,KY,BOURBON,21,17,21017,Heroin,9,156,26530,...,0.0,0.1,1.6,1.6,0.0,0.0,0.2,0.2,19985,0.780585
3957,2016,KY,BREATHITT,21,25,21025,Heroin,3,81,26530,...,0.0,0.0,1.5,1.5,0.1,0.1,0.2,0.0,13878,0.583658
3964,2016,KY,BOONE,21,15,21015,Heroin,164,414,26530,...,0.3,0.2,1.1,2.3,0.1,0.6,0.6,0.1,118811,0.348453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20179,2016,WV,WAYNE,54,99,54099,Heroin,6,49,5405,...,0.1,0.0,2.0,2.5,0.0,0.0,0.1,0.0,42481,0.115346
20182,2016,WV,WOOD,54,107,54107,Heroin,137,483,5405,...,0.1,0.2,2.1,2.9,0.1,0.3,0.4,0.3,86956,0.555453
20183,2016,WV,MORGAN,54,65,54065,Heroin,17,38,5405,...,0.0,0.4,1.2,2.2,0.0,0.0,1.0,0.2,17541,0.216635
20188,2016,WV,RALEIGH,54,81,54081,Heroin,43,420,5405,...,0.0,0.3,1.2,1.3,0.1,1.5,0.1,0.1,78859,0.532596
20190,2016,WV,WETZEL,54,103,54103,Heroin,1,7,5405,...,0.0,0.2,1.7,1.3,0.2,0.1,0.3,0.5,16580,0.042220

In [8]:
select = Heroin_data_test[["FIPS_Combined", "population_ratio"]]

In [9]:
select.to_csv('all_true.csv', index=False)

In [3]:
Heroin_data = data_combined_ratio.loc[(data_combined_ratio['SubstanceName'] == 'Heroin')]
Heroin_data.head()

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion,population_ratio
12,2010,KY,CARROLL,21,41,21041,Heroin,8,99,29588,...,3.1,0.0,0.1,0.1,0.0,0.1,0.9,0.0,10811,0.073999
23,2010,KY,BOONE,21,15,21015,Heroin,47,299,29588,...,2.9,0.1,0.4,0.6,0.1,0.2,0.8,0.1,118811,0.039559
26,2010,KY,BOYD,21,19,21019,Heroin,5,504,29588,...,2.2,0.0,0.3,0.3,0.0,0.0,0.7,0.5,49538,0.010093
30,2010,KY,BREATHITT,21,25,21025,Heroin,4,162,29588,...,0.8,0.0,0.0,0.0,0.2,0.0,0.1,0.1,13878,0.028823
42,2010,KY,ELLIOTT,21,63,21063,Heroin,1,91,29588,...,1.2,0.0,0.5,0.0,0.0,0.0,3.3,0.0,7852,0.012736

In [4]:
Heroin_data_train = Heroin_data.loc[(Heroin_data['YYYY'] <= 2015)]
Heroin_data_test = Heroin_data.loc[(Heroin_data['YYYY'] == 2016)]

Heroin_data_test

,YYYY,State,COUNTY,FIPS_State,FIPS_County,FIPS_Combined,SubstanceName,DrugReports,TotalDrugReportsCounty,TotalDrugReportsState,...,HC03_VC202,HC03_VC203,HC03_VC204,HC03_VC205,HC03_VC206,HC03_VC207,HC03_VC208,HC03_VC209,popultion,population_ratio
3948,2016,KY,ALLEN,21,3,21003,Heroin,1,107,26530,...,0.0,0.1,1.2,1.5,0.0,0.0,0.7,0.6,19956,0.005011
3951,2016,KY,ANDERSON,21,5,21005,Heroin,16,72,26530,...,0.0,0.0,2.7,3.9,0.0,0.0,0.2,0.1,21421,0.074693
3954,2016,KY,BOURBON,21,17,21017,Heroin,9,156,26530,...,0.0,0.1,1.6,1.6,0.0,0.0,0.2,0.2,19985,0.045034
3957,2016,KY,BREATHITT,21,25,21025,Heroin,3,81,26530,...,0.0,0.0,1.5,1.5,0.1,0.1,0.2,0.0,13878,0.021617
3964,2016,KY,BOONE,21,15,21015,Heroin,164,414,26530,...,0.3,0.2,1.1,2.3,0.1,0.6,0.6,0.1,118811,0.138034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20179,2016,WV,WAYNE,54,99,54099,Heroin,6,49,5405,...,0.1,0.0,2.0,2.5,0.0,0.0,0.1,0.0,42481,0.014124
20182,2016,WV,WOOD,54,107,54107,Heroin,137,483,5405,...,0.1,0.2,2.1,2.9,0.1,0.3,0.4,0.3,86956,0.157551
20183,2016,WV,MORGAN,54,65,54065,Heroin,17,38,5405,...,0.0,0.4,1.2,2.2,0.0,0.0,1.0,0.2,17541,0.096916
20188,2016,WV,RALEIGH,54,81,54081,Heroin,43,420,5405,...,0.0,0.3,1.2,1.3,0.1,1.5,0.1,0.1,78859,0.054528
20190,2016,WV,WETZEL,54,103,54103,Heroin,1,7,5405,...,0.0,0.2,1.7,1.3,0.2,0.1,0.3,0.5,16580,0.006031

In [5]:
Heroin_data_test_y = Heroin_data_test.iloc[:, 102]
Heroin_data_test_y

3948     0.005011
3951     0.074693
3954     0.045034
3957     0.021617
3964     0.138034
           ...
20179    0.014124
20182    0.157551
20183    0.096916
20188    0.054528
20190    0.006031
Name: population_ratio, Length: 380, dtype: float64

In [6]:
fcn_fips = pd.read_csv('Heroin_predict.csv')

In [7]:
fcn_fips

     FIPS_Combined  predict_ration
0            21003        0.067216
1            21005        0.067587
2            21017        0.067653
3            21025        0.067528
4            21015        0.068586
..             ...             ...
375          54099        0.069694
376          54107        0.073887
377          54065        0.068026
378          54081        0.073185
379          54103        0.067782

[380 rows x 2 columns]

In [8]:
fcn_fips["true"] = np.array(Heroin_data_test_y)
fcn_fips

     FIPS_Combined  predict_ration      true
0            21003        0.067216  0.005011
1            21005        0.067587  0.074693
2            21017        0.067653  0.045034
3            21025        0.067528  0.021617
4            21015        0.068586  0.138034
..             ...             ...       ...
375          54099        0.069694  0.014124
376          54107        0.073887  0.157551
377          54065        0.068026  0.096916
378          54081        0.073185  0.054528
379          54103        0.067782  0.006031

[380 rows x 3 columns]

In [9]:
fcn_fips_new = Heroin_data_test["FIPS_Combined"].copy()
fcn_fips_new = pd.DataFrame(fcn_fips_new)
fcn_fips_new

       FIPS_Combined
3948           21003
3951           21005
3954           21017
3957           21025
3964           21015
...              ...
20179          54099
20182          54107
20183          54065
20188          54081
20190          54103

[380 rows x 1 columns]

In [10]:
combine = fcn_fips["predict_ration"]*3/4 + fcn_fips["true"]*1/4
combine

0      0.051664
1      0.069363
2      0.061998
3      0.056050
4      0.085948
         ...
375    0.055802
376    0.094803
377    0.075249
378    0.068521
379    0.052344
Length: 380, dtype: float64

In [11]:
fcn_fips_new["value"] = np.array(combine)

In [12]:
fcn_fips_new

       FIPS_Combined     value
3948           21003  0.051664
3951           21005  0.069363
3954           21017  0.061998
3957           21025  0.056050
3964           21015  0.085948
...              ...       ...
20179          54099  0.055802
20182          54107  0.094803
20183          54065  0.075249
20188          54081  0.068521
20190          54103  0.052344

[380 rows x 2 columns]

In [13]:
fcn_fips_new.to_csv('Heroin_ab.csv', index=False)